
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div class="input-group">

        <form method="get" action="~/news/index">
            <input type="text" class="form-control" name="search" placeholder="Search">
            <div class="input-group-append">
                <button style="position:absolute !important; bottom:0 !important; right:0 !important;" class="btn btn-success" type="submit">Go</button>
            </div>

        </form>

    </div>