<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Demo1</title>
</head>
<body>
    <header style="background:#ffd800">
        <h1>this is header</h1>
        <hr />
    </header>
    <div style="background:#68d43d;border:2px solid green">
        @RenderBody()

    </div>

    <div style="background:#325bcb;border:2px solid red">
        @RenderSection("ads", false)
    </div>

    <footer style="background:#ff00dc">

        <h1>this is footer</h1>
        <hr />
    </footer>








</body>
</html>

