
@{
    ViewData["Title"] = "Index2";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

    <div style="background:#ee7db8">

        <h1>Index</h1>
        <p>this is test index2</p>

    </div>

