
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div style="background:#ee7db8">

    <h1>Index</h1>
    <p>this is test index</p>

</div>

@section ads
{
    <div>
        <h1>عجله کن </h1>
        <p>همنیجوری</p>
    </div>
    <div>
        <h1>با ما سرمایه دار شوید در 5 دقیقه </h1>
        <p>این تبلیغ را برای 5 نغر بفرست</p>
    </div>



}

