
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


    <div>
        <a href="~/news/index">Go to news page</a>
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>


@section ads
{
    <div>
        <h1>آیا از ماشین خود ناراضی هستید </h1>
        <p>ماشین خود را به ما بسبارید</p>
    </div>
    <div>
        <h1>آیا از ماشین خود راضی هستید </h1>
        <p>خب باشید</p>
    </div>



}
